{% extends 'base.html' %}
{% load static %}
{% block main-content %}

<body id="home-version-1" class="home-version-4" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

    
		<div class="terms travo-careers text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
					<section class="travo-sec-1b">
						<h2 class="about-heading">About Us</h2>
					</section>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row pb-4">
					<div class="col-md-1"></div>
					<div class="col-md-10">
					<section class="travo-sec-1b">
						<p>TravoCRM is a CRM specifically for travel agents by Futurica Technologies Pvt. Ltd. based in Pune, India.  We are passionate about our work and services that transforms your business. We provide complete IT business solutions to the organizations who would like to have a web presence and tailor made software solutions. Our offshore services are highly preferred because we embrace excellence and our vision is undeviating.<br>
						We see ourselves as your allies, ready to do whatever it takes to help you make informed decisions and wise investments in digital, in order to advance your cause.</p>
					</section>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
			<section class="travo-sec-2 pb-4 pt-4" style="background-color: #f4f4f4!important;">
				<div class="container">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-10">
							<div class="callout" style="padding: 0 15px;">
								<h2 class="about-heading">Why Us?</h2>
								<p style="color:black;">We care a lot about you, your goals, your deadlines and your business. We focus on your problems, your needs, your team, your goals and most importantly your targeted audience. With our digital transformation we help our partners actually bring their strategies to life. Eventually, we help our clients serve their customers and employees better. </p>
							</div>
						</div>
						<div class="col-md-1"></div>
					</div>
				
				<div class="row">
						<div class="col-md-4">
							<div class="travo-tile-inner">
								<div class="title">
									<img src="{% static 'media/about/g4.png' %}" alt="">
									  
									  <p class="about-pera pt-3" style="color:black!important;">A one-stop-hub for all your CRM, websites, web applications and mobile apps.Real-time access to insightful.</p>
								</div>
							</div>
						</div>  
						<div class="col-md-4">
							<div class="travo-tile-inner">
								<div class="title">
									<img src="{% static 'media/about/g1.png' %}" alt="">
									
									<p class="about-pera pt-3" style="color:black!important;">Reduced integration time and IT expenditures with Futurica Technologies, business process improvement.</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="travo-tile-inner">
								<div class="title">
									<img src="{% static 'media/about/g2.png' %}" alt="">
									<p class="about-pera pt-3" style="color:black!important;">We view ourselves as a vital part of each of our client’s teams and know our success hinges on them being successful.</p>
								</div>
							</div>
						</div>
					
				</div>
				</div>
			</section>
		
			<section class="sec-3 pb-4 pt-5">
				<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="img-container growth mb-3">
							<img src="{% static 'media/about/growth.png' %}" alt="" style="max-width: 200px;">
						</div>
					</div>
					<div class="col-md-8 text-left">
						<h2>HELPING SMALL TO LARGE BUSINESS GROW</h2>
						<p style="color:black;text-align:justify;text-align-last:left;">Travel industry is very competitive, so you need some tool to track every footprint and can identify the Genuine Customer. TravoCRM is the right customer relationship management and sales tracking tool that help with measurement, scrutiny, help analyze loses and wins, and support business owners with strategic planning. We help our clients to align their organization around what truly matters.The result is a clear story for how their strategy should translate to customers, with tools that drive their organization in how to change.</p>
					</div>
				</div>
				</div>
			</section>
		</div>

</body>	

		{% endblock main-content %}