{% extends 'index.html' %}
{% load static %}
{% block main-content %}

<div class="main-content">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="head d-flex">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16">
                                <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
                              </svg>
                        </div>
                        <div style="margin-left:5%">
                            <h4 style="line-height: 0.5;">Edit User</h4>
                            <a>Users are the point of entry for your CRM.</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-1">
            <a href={% url 'user' %}><i class="bi bi-arrow-return-left">Back</i></a>
        </div>

    </div>
    <div class="line">

    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <h4 style="background-color: gray; color:black; margin:6px; padding:2px;"><i class="bi bi-chevron-down"></i>
            Edit Information</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <label for="input">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" 
                            value="{{data.first_name}}" style="line-height: 1px;">
                    </div>
                    <div class="col-md-6">
                        <label for="input">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"  value="{{data.last_name}}"
                            style="line-height: 1px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="input">Email Id</label>
                        <input type="email" class="form-control" id="email" name="email"  value="{{data.email}}"
                            style="line-height: 1px;">
                    </div>
                    <div class="col-md-6">
                        <label for="input">Mobile Number</label>
                        <input type="text" class="form-control" id="number" name="number"  value="{{data.contact_no}}"
                            style="line-height: 1px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="input">Role</label>
                        <select id="role" name="role"  value="{{data.type}}" style="height: 29px; width:100%">
                            <option value="Admin">Admin</option>
                            <option value="Sales Manager">Sales Manager</option>
                            <option value="Sales Person">Sales Person</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="input">Area</label>
                        <input type="text" class="form-control" id="area" name="area"  value="{{data.area}}"
                            style="line-height: 1px;">
                    </div>
                </div>
            </div>
            </div>
            <button type="submit" class=" mt-2 mb-0">Update</button>
        </div>
    </form>
</div>
{% endblock main-content %}