{% extends 'base.html' %}
{% load static %}
{% block main-content %}

<body id="home-version-1" class="home-version-4" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

<div class="terms">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="help font contact-font" style="text-align:center;">Privacy Policy</h2>
			</div>
			<div class="col-md-12" style="padding-top:20px;">
				<h4>Introduction</h4>
				<p>TravoCRM is a product of Futurica Technologies Pvt. Ltd. Based in Pune, India. TravoCRM (Or 'We' or 'Us') understands the importance of privacy of its customers. This Privacy Policy ("Privacy Policy" or simply "Policy") provides the information to protect the personal and private information and keeps it confidential. This Policy applies to only TravoCRM not any to other product by Futurica Technologies Pvt Ltd. In case of any questions about this Privacy Policy, feel free to contact us through our website or write to us at info@travocrm.com</p>
<p>We request you to read this policy carefully. Your access and usage of TravoCRM services will comprise your consideration about its usage and non disclosure of your any information. This policy only applicable to TravoCRM and it is not applicable to any third party activities which include the third party websites linked from our services, social networking websites or their features which are available through our customization. We do not take any responsibility for the privacy practices or content of such third parties. We strongly encourage our users to read the privacy policies of those third parties.</p>
			</div>
			<div class="col-md-12" >
				<h4>Your Information Collected by us:</h4>
				<p>TravoCRM automatically collects and detects specific personal and non personal information from the users when they use our site such as but not limited to, Browser type, Operating System, Referred or exiting web pages, Session ID, Click Patterns, IP Address, Time Stamp, Duration of Visit, Access time, Domain Name, Device Identifier, and other information about how you use TravoCRM.</p>
				<p>We believe in keeping our users' personal data private and confidential. In compliance with the law, TravoCRM will not share information with any other company for marketing purposes unless you expressly ask us to. TravoCRM or Futurica Technologies Pvt. Ltd. never intends to share the data to any other travel related business or organization. However, in the case of merger or acquisition by any other business, the information ownership may get changed in compliance with the law. In that situation TravoCRM will notify you before information about you is transferred and becomes subject to a different privacy policy.</p>
			</div>
			<div class="col-md-12" >
				<h4>Protection of Your Data:</h4>
				<p>We will maintain administrative, physical, and technical safeguards for protection of the security, confidentiality and integrity of your data. These safeguards will include, but will not be limited to, measures for preventing access, use, modification or disclosure of your data by our personnel except (a) to provide the purchased services and prevent or address service or technical problems. We consistently backup your CRM data on an online cloud server to prevent loss of data due to errors or system failures. Any service or support request requiring access to data will require your username and password to assist.</p>
			</div>
			<div class="col-md-12" >
				<h4>Governing Law </h4>
				<p>TravoCRM services and websites are meant for users across the globe. The Terms of this privacy policy are governed by and in accordance with the laws of the state of Maharashtra, India. </p>
			</div>
			<div class="col-md-12" style="padding-bottom:20px;" >
				<h4>Change in Privacy Policy</h4>
				<p>TravoCRM may update this privacy policy at the sole discretion. We will inform you about the important changes via e mail addresses registered with us in TravoCRM.com account or by placing a notice on our website. We strongly recommend you to review the privacy policy page for policy related information.</p>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock main-content %}