{% extends 'base.html' %}
{% load static %}
{% block main-content %}

<body id="home-version-1" class="home-version-4" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>

<div class="terms">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="help font contact-font" style="text-align:center;">Terms and Conditions</h2>
			</div>
			<div class="col-md-12" style="padding-top:20px;">
				<h4>1. Provision of Purchased Services:</h4>
				<p>We will make the services available to you pursuant to this terms and conditions agreement and the applicable order forms, (b) use commercially reasonable efforts to make the online services available 24 hours a day, 7 days a week, except for: (i) planned downtime (of which we shall give advance electronic notice), and (ii) any unavailability caused by circumstances beyond our reasonable control, including, for example, an act of god, act of government, flood, fire, earthquake, civil unrest, act of terror, strike or other labour problem (other than one involving our employees), internet service provider failure or delay, third-party application, or denial of service attack. We will be responsible for the performance of our personnel (including our employees and contractors) and their compliance with our obligations under this agreement, except as otherwise specified herein.</p>
			</div>
			<div class="col-md-12" >
				<h4>2. Acceptable Use:</h4>
				<p>You and your users shall use the services for your internal business
purposes. You shall not allow any unauthorized user to access or use the service. You shall
not (a) license, sublicense, sell, resell, rent, lease, transfer, assign, distribute, timeshare or
otherwise commercially exploit or make the service available to any third party, other than as
expressly permitted by this agreement; (b) copy, modify or distribute any portion of the
service; (c) use the service to process data on behalf of any third party; or (d) use the service
in any unlawful manner or in any manner that interferes with or disrupts the integrity or
performance of the service and its components.</p>
			</div>
			<div class="col-md-12" >
				<h4>3. Technical Support:</h4>
				<p>We will provide applicable standard technical support for the services
to you at no additional charge. The support is provided through E-mail and phone. Please
allow us 24- 48 working hours to respond back. Timings for support are 10:30 AM to 07:00
PM IST Monday to Friday. Govt. holidays are applicable.</p>
			</div>
			<div class="col-md-12" >
				<h4>4. Subscription Terms:</h4>
				<p>Subscription fees are subject to change upon 30 days’ notice from us. Any change or increase in charges will not apply until the expiry of your then current
subscription term.Number of user subscriptions cannot be increased other than
specified users at the time purchasing TravoCRM, but may be increased through contacting
us with an additional cost.</p>
			</div>
			<div class="col-md-12" >
				<h4>5. Subscription Term Renewal:</h4>
				<p>You have to pay in advance before the end of current term to renew the subscription for additional term. We will allow a 7-days grace period (after effective end date of your current term) prior to suspending your account for non-payment of renewal subscription fees. Your account will remain suspended for 30 days in which you will be able to pay renewal subscription fees in full and renew your subscription. If you have not paid the renewal subscription fees in 30 days after the effective end date of your current term, company reserves the right to terminate your subscription account. We will give you at least 7 days prior notice before such termination.The amount will not be refunded in any case.</p>
			</div>
			<div class="col-md-12" >
				<h4>6. Reservation of Rights:</h4>
				<p>Except for the subscription granted hereunder, nothing in this
agreement gives you any right, title or interest to the TravoCRM platform or related support.
You shall not: (i) modify, translate, or create derivative works based on the TravoCRM
platform; (ii) create any link to the TravoCRM Platform or frame or mirror any content
contained or accessible from the TravoCRM platform, (iii) reverse engineer, de-compile,
disassemble or otherwise attempt to discover the source code or underlying ideas or
algorithms of the TravoCRM platform; (iv) or access the TravoCRM platform in order to (a)
build a competitive product or service, or (b) copy any ideas, features, functions or graphics of the TravoCRM platform.</p>
			</div>
			<div class="col-md-12" >
				<h4>7. Ownership & Collection of Your Data:</h4>
				<p>You are responsible for the accuracy, quality and legality of your data and the means by which you acquired your data. TravoCRM will not be
responsible for any loss or disclosure of your data (or any damages related thereto) resulting
from you or your users’ failure to adequately secure their user identification and passwords or
otherwise.</p>
			</div>
			<div class="col-md-12" >
				<h4>8. Your Data Portability and Deletion:</h4>
				<p>Upon request by you made within 30 days after the effective date of termination or expiration of this agreement, we will make your data
available to you for export or download as Excel (XLS) files. After such 30-day
period, We will have no obligation to maintain or provide any your data, and will thereafter
delete or destroy all copies of your data in our systems or otherwise in our possession or
control, unless legally prohibited. In the case you wish your data to be completely and
permanently deleted immediately after termination, please send an email to our support team
at info@travocrm.com .</p>
			</div>
			<div class="col-md-12" style="padding-bottom:20px;">
				<h4>9. TravoCRM License and Credit:</h4>
				<p>Client hereby grants to company (Futurica Technologies Pvt Ltd a non-exclusive and limited license to use client’s trade names, logos and other trademarks in connection with company’s advertising, marketing and promotion of its products and services. Client agrees that any unsolicited positive feedback client provides to company may be used in any company marketing and/or advertising materials (i.e., customer testimonials).</p>
			</div>
		</div>
	</div>
</div>
{% endblock main-content %}