{% extends 'base.html' %}
{% load static %}
{% block main-content %}


<body id="home-version-1" class="home-version-4" data-style="default">

	<a href="#main_content" data-type="section-switch" class="return-to-top">
		<i class="fa fa-chevron-up"></i>
	</a>
		
		<!--==========================-->
		<!--=         Banner         =-->
		<!--==========================-->
		<section class="banner banner-nine">
			<div class="container">
				<div class="banner-content-wrap-five">
					<div class="row">
						<div class="col-lg-6">
							<div class="banner-content">
								<h1 class="banner-title wow pixFadeUp" data-wow-delay="0.3s">
						<span>A SMART CRM FOR </span><br>
						TRAVEL COMPANIES
					</h1>

					<p class="description wow pixFadeUp" data-wow-delay="0.5s">
						Curated specially for travel agencies, DMCs and tour operators. 
					</p>

								<a href="{% url 'calendy' %}" class="pix-btn submit-btn wow fadeInUp" data-wow-delay="0.7s">Schedule a Demo</a>
							</div><!-- /.banner-content -->
						</div>
						<!-- /.col-lg-6 -->

						<div class="col-lg-6">
							<div class="promo-mockup-five text-center">
								<ul class="animate-element-five">
									<li><img src="{% static 'media/banner/banner-five/travbanner.png' %}" class="wow fadeInDown" alt="mockup"></li>
							
								</ul>
							</div><!-- /.promo-mockup -->
						</div>
						<!-- /.col-lg-7 -->
					</div>
					<!-- /.row -->
				</div>

				
			</div><!-- /.container -->
		</section><!-- /.banner banner-seven -->
		
		
		<!--=================================-->
		<!--=         Editor Design         =-->
		<!--=================================-->
		<section class="editor-design">
			<div class="container">
				<div class="row">

					<div class="editure-feature-image wow pixFadeRight everyimg">
						<div class="image-one" data-parallax='{"x" : 30}'>
							<img src="{% static 'media/feature/4.png' %}" class="wow pixFadeRight" data-wow-delay="0.3s" alt="feature-image">
						</div>
						<div class="image-two">
							<div class="image-two-inner" data-parallax='{"x" : -30}'>
								<img src="{% static 'media/feature/41.png' %}" class="wow pixFadeLeft" data-wow-delay="0.5s" alt="feature-image">
							</div>
						</div>

					</div>

					<div class="col-lg-6 offset-lg-6">
						<div class="editor-content">
							<div class="section-title style-two">
								<h2 class="title wow pixFadeUp" data-wow-delay="0.3s">
									What’s good in TravoCRM?
								</h2>

								<p class="wow pixFadeUp" data-wow-delay="0.5s">
									TravoCRM is an intuitive tool that helps you to track and manage all your customer information in one place. With TravoCRM, they will have a simple and easy way to close deals faster.
								</p>
							</div>

							<div class="description wow pixFadeUp" data-wow-delay="0.7s">
								<p>
									Our user-friendly interface and fluid design ensure that the users have easy access to the elements on their dashboard. Navigating is a breeze and communicates to the user with their action being acknowledged with every click. 
								</p>

								<a href="{% url 'calendy' %}" class="pix-btn wow pixFadeUp" data-wow-delay="0.9s">Schedule a Demo</a>
							</div>
						</div><!-- /.editor-content -->
					</div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="shape-bg">
				<img src="{% static 'media/background/shape_bg.png' %}" class="wow fadeInLeft" alt="shape-bg">
			</div>
		</section><!-- /.editor-design -->
		
		<!--===================================-->
		<!--=         Genera Informes         =-->
		<!--===================================-->
		<section class="genera-informes">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 pix-order-one">
						<div class="section-title style-two">
							<h2 class="title wow pixFadeUp">
								What more can be done with TravoCRM?
							</h2>

							<p class="wow pixFadeUp" data-wow-delay="0.3s">
								TravoCRM is a unique solution for managing your sales and marketing activities, which allows you to focus on the most important things and helps you build relationships with your customers.
							</p>
						</div><!-- /.section-title style-two -->

						<ul class="list-items wow pixFadeUp" data-wow-delay="0.4s">
							<li>Itineraries and quotations</li>
							<li>Hotel, Transport, Flight Voucher creations</li>
							<li>Invoices and receipts</li>
							<li>Visa and traveller profile</li>
							<li>Plenty of reports</li>
						</ul>

						<a href="{% url 'calendy' %}" class="pix-btn btn-outline wow pixFadeUp" data-wow-delay="0.5s">Schedule a Demo</a>
					</div><!-- /.col-lg-6 -->


					<div class="informes-feature-image everyimg">
						<div class="image-one" data-parallax='{"y" : 20}'>
							<img src="{% static 'media/feature/5.png' %}" class="wow pixFadeDown" alt="informes">
						</div>

						<div class="image-two" data-parallax='{"y" : -20}'>
							<img src="{% static 'media/feature/51.png' %}" class=" mw-none wow pixFadeDown" data-wow-delay="0.3s" alt="informes">
						</div>

					</div>

				</div><!-- /.row -->
			</div><!-- /.container -->

			<div class="shape-bg">
				<img src="{% static 'media/background/shape.png' %}" class="wow fadeInRight" alt="shape-bg">
			</div>
		</section><!-- /.genera-informes -->
		
		<!--==================================-->
		<!--=         Call To Action         =-->
		<!--==================================-->
		<section class="call-to-action-four">

			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-md-7">
						<div class="action-content style-four wow pixFadeUp">
							<h2 class="title">
								Looks Interesting ?
							</h2>

							<p>
								Schedule a demo with us to know more
							</p>
						</div>
						<!-- /.action-content -->
					</div>
					<!-- /.col-md-7 -->

					<div class="col-md-5 text-right">
						<a href="{% url 'calendy' %}" class="pix-btn submit-btn wow fadeInUp">Schedule a Demo</a>
					</div>
					<!-- /.col-md-5 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.call-to-action -->
		
		
		<!--===========================-->
		<!--=         Service         =-->
		<!--===========================-->
		<section class="featured-two">
			<div class="container">
				<div class="section-title text-center">
					<h3 class="sub-title wow pixFadeUp">Features</h3>
					<h2 class="title wow pixFadeUp" data-wow-delay="0.2s">TravoCRM builds a long-term, successful relationship with any client by delivering superior service and managing customer data. With TravoCRM, you can:</h2>
				</div><!-- /.section-title -->

				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.4s">
							<ul class="list-items list-icon-arrow wow pixFadeUp" data-wow-delay="0.4s">
								<li>Android and iOS mobile apps</li>
								<li>Manage customer requirements effectively</li>
								<li>Create unique day-wise itinerary & quotations within minutes in PDF Format</li>
								<li>Generate GST invoices, receipts and credit notes</li>
								<li>Create hotel, transport/service, flight vouchers</li>
								<li>Create promotion flyers in seconds</li>
								<li>Digital planner to know your team schedule</li>
								<li>Send WhatsApp, SMS & Email to your customer directly from TravoCRM</li>
								<li>Manage your customer contacts easily</li>
								<li>Manage and mail your suppliers (supplier profile management)</li>
								<li>Visa & traveller profile management</li>
								<li>Inbuilt bulk SMS & Email sender to send wishes & offers</li>
								<li>Auto lead create from paid digital marketing & your website (Enquiry forms linkup)</li>
								<li>Dynamic pricing, store your pre-rates & create proposals instantly</li>
								<li>Load your previous data easily with excel upload feature</li>
								<li>WhatsApp & SMS templates for faster messaging & service</li>
							</ul>
						</div><!-- /.pixsass-box style-two -->
					</div><!-- /.col-lg-4 col-md-6 -->

					<div class="col-lg-6 col-md-6">
						<div class="saaspik-icon-box-wrapper style-two wow pixFadeRight" data-wow-delay="0.5s">
						<ul class="list-items list-icon-arrow wow pixFadeUp" data-wow-delay="0.4s">
								<li>Leads management with travel industry-specific data</li>
								<li>Manage the visa checklist and progress</li>
								<li>50+ reports for better analysis</li>
								<li>Hierarchy management (Admin, salesman and sales manager levels)</li>
								<li>Add and assign task as a to-do list</li>
								<li>Birthday/Anniversary auto-reminders</li>
								<li>Assign or pass leads to your team members</li>
								<li>Excellent followup management system</li>
								<li>Clean & simple user interface, easy to use by everyone</li>
								<li>Store clients records & files at one place</li>
								<li>Customer profile management, complete track record</li>
								<li>Manage your payment cycle with customer & supplier</li>
								<li>In-depth lead management cycle with many supportive features</li>
								<li>Add bookmarks & sticky notes</li>
								<li>Send visa documents via email & WhatsApp in seconds</li>
								<li>Centralized data management cloud based system</li>
							</ul>
							
						</div><!-- /.pixsass-box style-two -->
					</div><!-- /.col-lg-4 col-md-6 -->

				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.featured -->

		
		<!--==================================-->
		<!--=         Call Back Form         =-->
		<!--==================================-->
		<section class="callback">
			<ul class="particale-element">
				<li><img src="{% static 'media/background/dot.png' %}" alt="saaspik"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li><img src="{% static 'media/about/dot2.png' %}" alt="saaspik"></li>
				<li></li>
				<li></li>
			</ul>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="call-back-content">
							<div class="section-title">
								<h2 class="title wow fadeInUp">Request A Callback</h2>

								<p class="wow fadeInUp" data-wow-delay="0.3s">
									TravoCRM is an affordable, easy-to-use tool that will be of great help to anyone who has to deal with travel-related tasks.
								</p>

								<a href="{% url 'calendy' %}" class="pix-btn submit-btn wow fadeInUp" data-wow-delay="0.3s">Schedule a Demo</a>
								
							</div>
						</div>
						<!-- /.contact-c -->
					</div>
					<!-- /.col-md-5 -->
					<div class="col-md-7">
						<div class="call-back-forms wow fadeIn" data-wow-delay="0.3s">
							<h2 class="title">We need a few details!</h2>
							<form class="contact-form" id="formId" data-pixsaas="call-back-forms">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" name="first_name" placeholder="First Name" required>
									</div>
									<div class="col-lg-6">
										<input type="text" name="last_name" placeholder="Last Name" required>
									</div>
									<div class="col-lg-6">
										<input type="text" name="agency_name" placeholder="Agency Name" required>
									</div>
									<div class="col-lg-6">
										<select name="reference" id="" class="pix-select" required>
											<option value="" selected>Reference</option>
											<option value="Google">Google</option>
											<option value="Facebook">Facebook</option>
											<option value="Referral">Referral</option>
											<option value="Youtube">Youtube</option>
											<option value="Trade Fair">Trade Fair</option>
											<option value="LinkedIn">LinkedIn</option>
											<option value="Email">Email</option>
											<option value="Phone Call">Phone Call</option>
											<option value="SMS">SMS</option>
											<option value="Team TravoCRM">Team TravoCRM</option>
										</select>
									</div>
									<div class="col-lg-6">
										<input type="text" name="country" id="country" placeholder="Select country" autocomplete="off" required/>
										<input type="hidden" name="country_id" id="country_id"/>
									</div>
									
									<div class="col-lg-6">
										<input type="text" name="city" id="city" placeholder="Select city" autocomplete="off" required>
										<input type="hidden" name="city_id" id="city_id">
									</div>
									
									<div class="col-lg-6">
										 <input type="text" name="phonecode" id="phonecode" placeholder="Phonecode" required>
									</div>
									<div class="col-lg-6">
										<input type="text" name="contact" placeholder="Mobile Number" required>
									</div>
									<div class="col-lg-6">
										<input type="email" name="email" placeholder="Email Id" required>
									</div>
									<div class="col-lg-6">
										<input type="url" name="website" placeholder="Website">
									</div>
									
								</div>
								<button type="submit" class="pix-btn submit-btn">Submit Now</button>
								<div class="form-result alert">
									<div class="content"></div>
								</div>
							</form>
							<!-- /.call-back-forms -->
						</div>
						<!-- /.faq-froms -->
					</div>
					<!-- /.col-md-7 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- /.contactus -->
        <script>
            $(document).ready(function() {
                // get city data from database with autocomplete event
                $( "#city" ).autocomplete({
                    source: function( request, response ) {
                        $.ajax( {
                            url: "https://demoweb.travocrm.com/index/getcities",
                            dataType:"JSON",
                            data: {
                                term: request.term,
                                countryid: $("#country_id").val()
                            },
                            success: function( data ) {
                                response( data );
                            }
                        } );
                    },
                    minLength: 2,
                    select: function( event, ui ) {
                        $("#city_id").val(ui.item.id)
                        $("#city_name").val(ui.item.label)
                    }
                });

                // get country data from database with autocomplete	event
                $( "#country" ).autocomplete({
                    source: function( request, response ) {
                        $.ajax( {
                            url: "https://demoweb.travocrm.com/index/getcountries",
                            dataType:"JSON",
                            data: {
                                term: request.term
                            },
                            success: function( data ) {
                                // console.log(data);
                                response(data);
                            }
                        } );
                    },
                    minLength: 2,
                    select: function( event, ui ) {
                        // log( "Selected: " + " aka " + ui.item.id );
                        $("#country_id").val(ui.item.id)
                        $("#country_name").val(ui.item.label)
                        $("#phonecode").val(ui.item.phonecode);
                        // $(this).next("value").val(ui.item.id);
                    }
                });
                // to insert form data to database
                $("#formId").on("submit",function(e){
                    e.preventDefault();
                    $.ajax({
                        'url':'https://demoweb.travocrm.com/solutions/insertform',
                        'type' : 'POST',
                        'data' :  new FormData(this),
                        'dataType' : 'json',
                        'processData': false,
                        'contentType': false,
                        'success' : function(result){
                            // console.log(result);
                            // console.log(result.status);
                            if(result.status == "success"){
                                alert(result.message);
                                $("#formId").trigger('reset');
                            }else{
                                alert(result.message);
                            }

                        }
                    });

                });
            });
        </script>




</body>
  

{% endblock main-content %}